.displaynone {
    display: none;
}
body {
    color: #606060;
    font: 14px/1.6 "Montserrat", "Open Sans", "Tahoma", "Arial", sans-serif;
}
a {
    text-decoration: none;
}
.section {
    padding: 50px 0;
}
// 上方不要改
.container {
    width: 95%;
    max-width: 1200px;
    margin: auto;
}
.more_info {
    display: inline-block;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    padding: 10px 40px;
    border-radius: 10px;
}
.section_title {
    text-align: center;
    .lightly_span {
        font-size: 12px;
        margin: 0 0 8px;
        color: #f0b848;
        text-align: center;
        font-weight: bold;
    }
    h3 {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 40px;
    }
    .about_slogan {
        font-size: 19px;
        text-align: center;
    }
}
// 共通區域
.nav_bar {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 1;
    .container {
        display: flex;
        justify-content: space-between;
        .logo_box {
            display: flex;
            align-items: center;
            img {
                width: 100%;
                vertical-align: middle;
            }
            a {
                color: #f0b848;
                font-size: 20px;
                margin-left: 20px;
            }
        }
        .nav_list {
            ul {
                display: flex;
                padding-right: 20px;
                a {
                    display: block;
                    color: #fff;
                    margin: 0 20px;
                    font-size: 14px;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                    line-height: 30px;
                }
            }
        }
    }
}

header {
    position: relative;
    display: flex;
    width: 100%;
    padding-bottom: 55%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
        url("https://picsum.photos/1920/1080/?random=1");
    background-size: cover;
    color: #fff;
    .slogan {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .text_box {
            h2 {
                color: #fff;
                font-size: 54px;
                font-weight: 300;
                margin: 0 0 20px 0;
            }
            p {
                max-width: 600px;
                margin: 0 auto;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                margin-bottom: 50px;
            }
            .more_info {
                border-color: #fff;
                color: #fff;
            }
        }
    }
}

.catchword {
    background-color: #fafafa;
    .container {
        display: flex;
        .item {
            display: flex;
            margin: 15px;
            .num {
                width: 80px;
                color: #e8e8e8;
                font-size: 52px;
                line-height: 40px;
            }
            .title {
                margin-left: 20px;
                h3 {
                    font-size: 12px;
                    margin: 0 0 8px;
                }
                .title_text {
                    font-size: 22px;
                    font-weight: bold;
                    margin-bottom: 40px;
                }
                .containet_text {
                    margin-bottom: 10px;
                }
                a {
                    color: #f0b848;
                    &::before {
                        content: "\f067";
                        font-family: "FontAwesome";
                        padding: 0px 10px;
                    }
                }
            }
        }
    }
}

.about {
    .about_title {
        margin-bottom: 40px;
    }
    .about_container {
        display: flex;
        div {
            width: 50%;
            margin: 0 20px;
        }
        .about_img {
            img {
                width: 100%;
                vertical-align: middle;
                box-shadow: 10px 10px 0px 0px #f0b848;
            }
        }
        .about_text {
            p {
                color: #606060;
                font: 14px/1.6 "Montserrat", "Open Sans", "Tahoma", "Arial", sans-serif;
                margin-bottom: 12px;
            }
            .more_info {
                color: #f0b848;
                border-color: #f0b848;
            }
        }
    }
}
